@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --background-primary: #192284;
  --foreground-primary: #ffff;

  --background-secondary: #ececec;

  --muted: 210 40% 96.1%;
  --muted-foreground: 210 20% 45%;

  --accent: 162 100% 41%;
  --accent-foreground: 0 0% 100%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;

  --border: var(--color-gray-100);

  --button: #192284;
  --button-hover: #192284d7;
  --button-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-background-primary: var(--background-primary);
  --color-foreground-primary: var(--foreground-primary);

  --color-background-secondary: var(--background-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-border: var(--border);
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  --color-button-foreground: var(--button-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
